$mockup_width_px: 750px !default;      //PSD设计图模版宽度
$mockup_width: 750 !default;           //PSD设计图模版宽度
$mockup_min_width_px: 320px !default;  //支持设备最小宽度
$mockup_min_width: 320 !default;       //支持设备最小宽度
