@charset "utf-8";
@import "./pix2rem/variable";
@import "./pix2rem/fn";

html {
    height: 100%;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    list-style: none;
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    font-family: sans-serif;
}

body {
    min-height: 100%;
    width: 100%;
    overflow: visible;
    overflow-x: hidden;
    position: relative;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

input, select, textarea {
    font-size: 100%;
}


div {
    margin: 0 auto;
}

img {
    border: 0;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: rgb(48,48,48);
    cursor: pointer;
}

a:active {
    text-decoration: none;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="disabled"] {
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol, ul {
    list-style: none;
}

input[type="number"], input[type="text"] {
    border-radius: 0;
}

body {
    background-color: #fff;
    font-family: "Hiragino Sans GB W3","\5FAE\8F6F\96C5\9ED1", "\5b8b\4f53";
}

body div {
    box-sizing: border-box;
    vertical-align: top;
}

/*others*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/*compatibility*/
@media only screen and (min-width:750px) {
    [data-dpr="1"] {
        html {
            font-size: 75px;
        }

        body {
            width: 750px;
            margin: 0 auto;
        }
    }
}


.pageview {
    top: 0;
    left: 0;
    width: 100%;
    min-width: $mockup_min_width_px;
    height: 100%;
    color: #7d7d7d;
    font-size: 12px;
}

.container {
    width: 100%;
    max-width: 10rem;
    margin: 0 auto;
}

.main {
    max-width: 10rem;
    margin: 0 auto;
    padding-bottom: r(100);
}
/*background-color*/
.bgc_w {
    background-color: $white;
}

.bgc_w_dark {
    background-color: #fbfbfb;
}

.bgc_y {
    background-color: #ffec3e;
}

.bgc_o {
    background-color: #fdac25;
}

.bgc_b {
    background-color: #3d32ab;
}

.bgc_g {
    background-color: $grey_1;
}
/* icon */
.hylg_ico {
    background: url(../img/hylg_ico.png) no-repeat;
    background-size: r(500) r(400);

    &.deposit {
        width: r(82);
        height: r(82);
        background-position: 0 0;
    }

    &.newest {
        width: r(82);
        height: r(82);
        background-position: r(-100) 0;
    }

    &.shows {
        width: r(84);
        height: r(84);
        background-position: r(-198) 0;
    }

    &.help {
        width: r(84);
        height: r(84);
        background-position: r(-298) 0;
    }

    &.ho {
        width: r(51);
        height: r(48);
        background-position: 0 r(-150);
    }

    &.cat {
        width: r(47);
        height: r(47);
        background-position: r(-100) r(-150);
    }

    &.my {
        width: r(45);
        height: r(45);
        background-position: r(-200) r(-150);
    }

    &.back {
        width: r(22);
        height: r(38);
        background-position: r(-298) r(-150);
    }

    &.setting {
        width: r(38);
        height: r(36);
        background-position: r(-298) r(-300);
    }

    &.pic {
        width: r(38);
        height: r(33);
        background-position: r(-198) r(-250);
    }

    &.cam {
        width: r(40);
        height: r(34);
        background-position: r(-298) r(-200);
    }

    &.clo {
        width: r(38);
        height: r(38);
        background-position: r(-298) r(-250);
    }

    &.right_arrow {
        width: r(16);
        height: r(25);
        background-position: r(-400) r(-200);
    }
}

.selected {
    .ho {
        background-position: 0 r(-100);
    }

    .cat {
        background-position: r(-100) r(-100);
    }

    .my {
        background-position: r(-200) r(-100);
    }
}
/* common bottom */
.bottom_fixed_menu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: r(100);
    border-top: 1px solid #efefef;
    background-color: #fff;

    li {
        float: left;
        width: 33.33%;
        display: block;
        text-align: center;
        height: r(100);

        a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: r(20);
            color: #aaa;
            display: -webkit-box;
            -webkit-box-align: center;
            -webkit-box-pack: center;

            &.selected {
                color: #e71f23;
            }
        }

        .hylg_ico {
            display: inline-block;
        }
    }
}

.return_top {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: r(135);
    right: r(33);
    z-index: 120;
    cursor: pointer;

    .rtt {
        width: r(60);
        height: r(60);
        background-position: right top;
        display: block;
    }
}

.header {
    width: 100%;
    height: r(90);
    position: relative;

    &.fixed {
        position: fixed;
        border-bottom: none;
        top: 0;
        left: 0;
        z-index: 10;

        .container {
            position: relative;
            height: r(90);
            background-color: #e71f23;
        }
    }

    .back {
        position: absolute;
        display: block;
        width: r(22);
        height: r(38);
        left: r(30);
        top: r(25);
    }

    .title {
        display: block;
        color: #fff;
        font-size: r(32);
        line-height: r(90);
        text-align: center;
    }
}
